{%  extends "LouvreBundle:home:index.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="retourHome">
        <img src="{{ asset('img/fantome.jpg') }}"><br/><h1>Oops! An Error Occurred</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}" error.</h2>

        <div>
            {{ "isBroken"|trans }}
        </div>
        <a id="leBouton" href="{{ path('home') }}" class="btn btn-success" >{{ "Home"|trans }}</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.interieur').removeClass('interieur');
            $('.corps').css('display','block');
            $('.row .corps').addClass('col-lg-offset-1');
        });

    </script>
{% endblock %}
