{%  extends "LouvreBundle:home:index.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input id="submit" type="submit" value="{{ "Search"|trans }}" class="btn btn-success">
    {{ form_end(form) }}


{% if error is defined %}
    <div class="row">
    <div class="col-xs-offset-3 col-xs-6 alert alert-danger">
        {% trans %}
Nous ne trouvons pas de commande avec cette combinaison.
        Vérifiez les informations saisies ou contactez-nous...{% endtrans %}
    </div>
    </div>
        {% endif %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $('.interieur').removeClass('interieur');
    $('.corps').css('display','block');
    $('.row .corps').addClass('col-lg-offset-1');
    </script>
{% endblock %}
