{%  extends "LouvreBundle:home:index.html.twig" %}
{% block stylesheets %}


    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet">

    {{ parent() }}

{% endblock %}

{% block body %}

}


    {{ form_start(form) }}


    {{ form_row(form.date, {'label':  "order.date"|trans }) }}

    <div class="form-group">

      {{ form_label(form.email) }}

      {{ form_errors(form.email) }}

      <div class="input-group col-xs-6">
      <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
      {{ form_widget(form.email) }}

      </div>
    </div>


    {#  {{ form_row(form.email, {'label':  "order.email"|trans }) }}  #}



   {{ form_row(form.duree, {'label':  "order.duree"|trans }) }}

    {#
    {{ form_row(form.tickets, {'label':  "order.tickets"|trans }) }}
    #}

<div class="form-group">
        {{ form_label(form.tickets) }}
        {{ form_errors(form.tickets) }}
    <div id="commande_tickets" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e('html_attr') }}">
    </div>
        {% for ticket in form.tickets %}
<div id="commande_tickets_{{ loop.index }}">
  <div class="form-group">
        {{ form_label(ticket.name) }}
        {{ form_errors(ticket.name) }}
        <div class="input-group col-xs-6">
            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            {{ form_widget(ticket.name) }}
        </div>

        {{ form_label(ticket.surname) }}
        {{ form_errors(ticket.surname) }}
        <div class="input-group col-xs-6">
            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            {{ form_widget(ticket.surname) }}
        </div>

        {{ form_label(ticket.birth) }}
        {{ form_errors(ticket.birth) }}
        <div class="input-group col-xs-6">
            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            {{ form_widget(ticket.birth) }}
        </div>

            {{ form_label(ticket.country) }}
            {{ form_errors(ticket.country) }}
            <div class="input-group col-xs-6">
                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                {{ form_widget(ticket.country) }}
            </div>

            {{ form_label(ticket.discount) }}
            {{ form_errors(ticket.discount) }}
            <div class="input-group col-xs-6">
                {{ form_widget(ticket.discount) }}
                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            </div>


  </div>
</div>
        {% endfor %}
</div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
    <button id="add_ticket" class="btn btn-warning btn-block">{{ "Add a ticket"|trans }}</button><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            {{ form_errors(form) }}
        <button id="formSend" class="btn btn-primary btn-block">{{ "Next"|trans }}</button>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="modal" id="infos">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">{{ "Discount"|trans }}</h4>
                </div>
                <div class="modal-body">
                    {% trans %}
                    Afin de bénéficier d'un tarif réduit, chaque visiteur doit pouvoir présenter un justificatif de sa situation.<br/>
                    Le tarif réduit est attribué aux personnes suivantes : étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…
                    {% endtrans %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" id="stopAffiche">{{ "Don't show again"|trans }}</button>
                    <button class="btn btn-info" data-dismiss="modal">{{ "Close"|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="duree">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">{{ "Half-day"|trans }}</h4>
                </div>
                <div class="modal-body">
                    {% trans %}
                    En choisissant la formule demi-journée, l'entrée au musée ne se fera qu'a partir de 14h.
                    {% endtrans %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal">{{ "Close"|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="supprimer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">{{ "Delete"|trans }}</h4>
                </div>
                <div class="modal-body">
                    {% trans %}
                    La commande doit au moins contenir un billet.
                    {% endtrans %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal">{{ "Close"|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/i18n/jquery-ui-i18n.min.js"></script>
    <script src="{{ asset('js/order.js') }}"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>



<script>
    var $joursOff = {{ daysoff|json_encode()|raw}};
    var $lang = "{{ app.request.getLocale() }}";
    var $delete = "{{ "Delete this ticket"|trans }}";
    var $dateRequired = "{{ "The date is required"|trans }}";
    {% if commande.date is defined %}
    var $orderDate = "{{ commande.date|date('m-d-y') }}";
    var index = ($('div#commande_tickets > div').length);
    var testIndex = 1;
    {% else %}
    var index = $('div#commande_tickets > div').length;
    var testIndex = 0;
    {% endif %}



</script>

{% endblock %}
