{%  extends "LouvreBundle:home:index.html.twig" %}
{% block stylesheets %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet">

    {{ parent() }}

{% endblock %}

{% block icones %}
    <div class="col-xs-4 icones ">
        <i id="order" class="fa fa-ticket fa-2x" aria-hidden="true"></i>
    </div>
    <div class="col-xs-4 icones">
        <i id="validate" class="fa fa-check fa-2x" aria-hidden="true"></i>
    </div>
    <div class="col-xs-4 icones">
        <i id="pay" class="fa fa-euro fa-2x" aria-hidden="true"></i>
    </div>

{% endblock %}


{% form_theme form _self %}

{% block text_widget %}
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
        {{ block('form_widget_simple') }}
        </div>
{% endblock %}

{% block choice_widget %}
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i></span>
        {{ block('choice_widget_collapsed') }}
    </div>
{% endblock %}

{% block date_widget %}
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-birthday-cake" aria-hidden="true"></i></span>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{- widget|raw }} {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        </label>
    {% endif %}
{% endblock checkbox_radio_label %}




{% block body %}


    {{ form_start(form) }}


    {{ form_row(form.date, {'label':  "order.date"|trans }) }}


    {{ form_row(form.email, {'label':  "order.email"|trans }) }}



   {{ form_row(form.duree, {'label':  "order.duree"|trans }) }}

    {{ form_row(form.tickets, {'label':  "order.tickets"|trans }) }}

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
    <button id="add_ticket" class="btn btn-warning btn-block">{{ "Add a ticket"|trans }}</button><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            {{ form_errors(form) }}
        <button id="formSend" class="btn btn-primary btn-block">{{ "Next"|trans }}</button>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="modal" id="infos">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">{{ "Discount"|trans }}</h4>
                </div>
                <div class="modal-body">
                    {% trans %}
                    Afin de bénéficier d'un tarif réduit, chaque visiteur doit pouvoir présenter un justificatif de sa situation.<br/>
                    Le tarif réduit est attribué aux personnes suivantes : étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…
                    {% endtrans %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" id="stopAffiche">{{ "Don't show again"|trans }}</button>
                    <button class="btn btn-info" data-dismiss="modal">{{ "Close"|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="duree">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">{{ "Half-day"|trans }}</h4>
                </div>
                <div class="modal-body">
                    {% trans %}
                    En choisissant la formule demi-journée, l'entrée au musée ne se fera qu'a partir de 14h.
                    {% endtrans %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal">{{ "Close"|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="supprimer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">{{ "Delete"|trans }}</h4>
                </div>
                <div class="modal-body">
                    {% trans %}
                    La commande doit au moins contenir un billet.
                    {% endtrans %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal">{{ "Close"|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.{{ app.request.getLocale() }}.min.js"></script>



<script>
    var $joursOff = {{ daysoff|json_encode()|raw}};
    var $lang = "{{ app.request.getLocale() }}";
    var $delete = "{{ "Delete this ticket"|trans }}";
    var $dateRequired = "{{ "The date is required"|trans }}";

    {% if commande.date is defined %}
    var $orderDate = "{{ commande.date|date('m-d-y') }}";
    var index = ($('div#commande_tickets > div').length);

    {% else %}
    var index = $('div#commande_tickets > div').length;
    var testIndex = 0;

    {% endif %}

    $('#order').parent().addClass('active');
    $('#pay').addClass('desactive');
    $('#validate').addClass('desactive');



</script>

    <script src="{{ asset('js/order.js') }}"></script>


{% endblock %}
