{%  extends "LouvreBundle:home:index.html.twig" %}

{% block body %}
Récap commande :
    {{ commande.name }}
    <br/>
    {{ commande.email }}
    <br/>
    {{ commande.date|date('d/m/Y') }}
    <br/>
    {{ commande.duree }}
    <br/>
    {% for ticket in commande.tickets %}
    {{ ticket.id }} {{ ticket.name }} {{ ticket.surname }} {{ ticket.price.value }}
        <br/>
    {% endfor %}
    {% set orderAmountScreen = orderAmount / 100 %}
    <br/>
    Total = {{ orderAmountScreen }}
    <br/>
    {% if commande.status != 'pay_success'%}
        <a href="{{ path('editOrder', {'name': commande.name}) }}">Modifier ma commande</a>



    <br/>
    <form action="./{{ commande.name }}" method="post">
        <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser in order to pay via Stripe.</noscript>

        <input
                type="submit"
                value="{{ "paiement"|trans }}"
                data-key="pk_test_C0r7dLtkZzK1tF6oPxBGYxmK"
                data-amount="{{ orderAmount }}"
                data-email="{{ commande.email }}"
                data-currency="eur"
                data-name="Louvre"
                data-allow-remember-me="false"
                data-description="{{ "paiement"|trans }}"

        />
    </form>

    {% else %}
        {{ 'order.payed'|trans }}
        <br/>
        {% set retest = path('editOrder', {'name': commande.name}) %}
        <img src="{{ qrcode_url(retest, {label: commande.name}) }}" />
    {% endif %}


{% endblock %}


{% block javascripts %}
    <script src="https://checkout.stripe.com/v2/checkout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script>
        $(document).ready(function() {
            $(':submit').on('click', function(event) {
                event.preventDefault();
                var $button = $(this),
                        $form = $button.parents('form');
                var opts = $.extend({}, $button.data(), {
                    token: function(result) {
                        $form.append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })).submit();
                    }
                });
                StripeCheckout.open(opts);
            });
        });
    </script>
{% endblock %}
