{%  extends "LouvreBundle:home:index.html.twig" %}

{% block body %}
Récap commande :
    {{ commande.name }}
    <br/>
    {{ commande.email }}
    <br/>
    {{ commande.date|date('d/m/Y') }}
    <br/>
    {{ commande.duree }}
    <br/>
    {%  set montantCommande = 0  %}
    {% for ticket in commande.tickets %}
    {{ ticket.id }} {{ ticket.name }} {{ ticket.surname }} {{ ticket.price.value }}
        <br/>
        {%  set montantCommande = montantCommande + ticket.price.value  %}
    {% endfor %}
    {{ montantCommande }}
    <a href="{{ path('editOrder', {'name': commande.name}) }}">Modifier ma commande</a>
    <a href="{{ path('payOrder', {'name': commande.name}) }}">Payer ma commande</a>
{% endblock %}


{% block javascripts %}

{% endblock %}
