{%  extends "LouvreBundle:home:index.html.twig" %}

{% block icones %}
    <div class="col-xs-4 icones ">
          <i id="order" class="fa fa-ticket fa-2x" aria-hidden="true"></i>
    </div>
    <div class="col-xs-4 icones">
          <i id="validate" class="fa fa-check fa-2x" aria-hidden="true"></i>
    </div>
    <div class="col-xs-4 icones">
         <i id="pay" class="fa fa-euro fa-2x" aria-hidden="true"></i>
    </div>




{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12" id="recap">

            {{ "Your order summary :"|trans }}
            {{ commande.name }}
            <br/>
            {{ commande.email }}
            <br/>
            {{ commande.date|date('d/m/Y') }}
            <br/>
            {{ commande.duree? "Half-day"|trans: "Full day"|trans }}

            <br/>
            <table>
                <caption>{{ "Tickets in your order"|trans }}</caption>
                <thead>
                <tr>
                    <th>{{ "Name"|trans }}</th>
                    <th>{{ "Surname"|trans }}</th>
                    <th>{{ "Country"|trans }}</th>
                    <th>{{ "Pricing"|trans }}</th>
                    <th>{{ "Price"|trans }}</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th colspan="4">{{ "Total"|trans }}</th>
                    <th>
                        {% set orderAmountScreen = orderAmount / 100 %}
                        {{ orderAmountScreen }}
                    </th>
                </tr>
                </tfoot>
                <tbody>

                {% for ticket in commande.tickets %}
                    {#{{ ticket.id }}#}
                    <tr>
                        <td>{{ ticket.name }}</td>
                        <td>{{ ticket.surname }}</td>
                        <td>{{ ticket.country }}</td>
                        <td>
                            {{ ticket.price.name|trans }}
                        </td>

                        <td> {{ commande.duree? ticket.price.value/2: ticket.price.value }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>


        </div>
    </div>


    {% if commande.status != 'pay_success'%}
        <div class="col-xs-12" id="options">
        <a id="editOrder" href="{{ path('editOrder', {'name': commande.name}) }}" class="btn btn-warning">{{ "Edit my order"|trans }}</a>
    <form name="payerStripe" action="./{{ commande.name }}" method="post">
        <input
                id="payerStripe"
                name="payerStripe"
                class="btn btn-success"
                type="submit"
                value="{{ "paiement"|trans }}"
                data-key="pk_test_C0r7dLtkZzK1tF6oPxBGYxmK"
                data-amount="{{ orderAmount }}"
                data-email="{{ commande.email }}"
                data-currency="eur"
                data-name="Louvre"
                data-allow-remember-me="false"
                data-description="{{ "paiement"|trans }}"

        />
    </form>
        </div>
    {% else %}
        <div class="col-xs-12" id="options2">
        {{ 'order.payed'|trans }}
        <br/>
        {% set order_resume = path('resumeOrder', {'name': commande.name}) %}
        <img src="https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl={{ order_resume }}" />
        <br/>
        <a href="{{ path('home') }}" class="btn btn-success" >{{ "Home"|trans }}</a>
        </div>
    {% endif %}

    </div>
{% endblock %}


{% block javascripts %}
    <script src="https://checkout.stripe.com/v2/checkout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script>
        $(document).ready(function() {
            $(':submit').on('click', function(event) {
                event.preventDefault();
                var $button = $(this),
                        $form = $button.parents('form');
                var opts = $.extend({}, $button.data(), {
                    token: function(result) {
                        $form.append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })).submit();
                    }
                });
                StripeCheckout.open(opts);
            });
            $('.interieur').removeClass('interieur');
            $('.corps').css('display','block');
            $('.row .corps').addClass('col-lg-offset-1');
        });


        var $status = "{{ commande.status }}";
        switch ($status) {
            case "started":
                $('#validate').parent().addClass('active');
                $('#order').addClass('green');
                $('#pay').addClass('desactive');
                break;
            case "modified":
                $('#validate').parent().addClass('active');
                $('#order').addClass('green');
                $('#pay').addClass('desactive');
                break;
            case "pay_success":
                $('#order').addClass('green');
                $('#validate').addClass('green');
                $('#pay').addClass('green');
                break;

            case "pay_failed":
                $('#order').addClass('green');
                $('#validate').addClass('green');
                $('#pay').addClass('red');
                break;
            default:

                $('#validate').addClass('desactive');
                $('#pay').addClass('desactive');
                break;
        }
    </script>
{% endblock %}
